.right-container {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}
.about-project {
    background-color: #1a1a1a; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-top: 20px;
    color: #f3f3f3; 
    flex: 1; 
}

.about-project h2 {
    color: #b1a270; 
    font-size: 1.5rem; 
    margin-bottom: 15px; 
    text-align: center; 
}
.about-project h3 {
    color: #ffffff; 
    font-size: 1rem; 
    margin-bottom: 7px; 
    text-align: left; 
    font-weight: bold;
}

.about-project p {
    font-size: 1rem; 
    line-height: 1.8; 
    margin: 0; 
    text-align: justify; 
}

