td .dislikecontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  td .dislikecontainer {
    display: inline-flex;
    position: relative;
    cursor: pointer;
    user-select: none;
    align-items: center;

    
  }
  
  td svg {
    position: relative;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    transition: all 0.3s;
    fill: #666;
  }
  
  svg:hover {
    transform: scale(1.1) rotate(-10deg);
  }
  
  .dislikecontainer input:checked ~ svg {
    fill: #ff365e;
  }
  

td .dislikecontainer span {
    font-size: 16px; 
    line-height: 24px; 
    text-align: center; 
    display: inline-block; 
    min-width: 20px; 
}