td .likecontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  td .likecontainer {
    position: relative;
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    align-items: center;

  }
  
  td svg {
    position: relative;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    transition: all 0.3s;
    fill: #666;
  }
  
  svg:hover {
    transform: scale(1.1) rotate(-10deg);
  }
  
  .likecontainer input:checked ~ svg {
    fill: #00b8a3;
  }
  
  td .likecontainer span {
    font-size: 16px;
    line-height: 24px; 
    text-align: center; 
    display: inline-block; 
    min-width: 20px; 
}

.reaction-container {
  display: inline-flex; 
  align-items: center;
  gap: 10px; 
}