body {
    font-family: "Funnel Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: #2a2a2a; 
    color: #ffffff;
    margin: 20px;
    line-height: 1.6; 
}

h1 {
    color: #b1a270; 
    font-size: 3.8rem;
    font-weight: 700; 
    text-align: center; 
    margin-bottom: 20px;
    letter-spacing: 1.5px; 
}

p {
    color: #f3f3f3; 
    font-size: 1rem; 
    line-height: 1.8;
    margin-bottom: 15px; 
}

.container {
    background: #1a1a1a; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin: 0 left; 
    max-width: 1000px; 
}

table {
    width: 100%; 
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px; 
    text-align: center;
    vertical-align: middle; 


}

th {
    background-color: #2a2a2a; 
    color:#8a8888;

}

tr:nth-child(even) {
    background-color: #2a2a2a;

}

tr:hover {
    background-color: #2a2a2a; 
}

